:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-areas: "header header"
    "main sidebar"
    "footer  footer";
  gap: 10px;
  max-width: 1519px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header-container,
.sidebar-container,
.footer-container {
  padding: 15px;
}

.main-container {
  padding: 30px;
}

body {
  text-align: center;
  background-color: var(--light);
  font-family: var(--primary-font);
}

.logo-img {
  height: 70px;
}

.avatar-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

a {
  color: var(--dark);
}

a:hover {
  color: var(--primary-color);
}

h3 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 15px;
}

h1,
h3,
h4 {
  font-family: var(--secondary-font);
}

.sidebar-container .logo-description {
  font-weight: bold;
  font-size: 15px;
}

.logo-description {
  margin-top: -15px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

h1 {
  margin-top: -5px;
}

.header,
.main,
.sidebar,
.footer {
  border: 1px solid #e1e3e6;
  box-shadow: 0 0 7px rgba(122, 122, 122, 0.5);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.sidebar {
  position: sticky;
  top: 20px;
  grid-area: sidebar;
  height: min-content;
}

.footer {
  grid-area: footer;
}

.biography {
  margin-top: 0;
  margin-bottom: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  grid-template-rows: repeat(12, 80px);
  grid-auto-flow: dense;
  gap: 15px;
}

.gallery-item {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-container .logo-img {
  height: 35px;
  margin-left: -10px;
}

h4 {
  margin: 0;
  margin-top: -5px;
  font-size: 15px;
  font-weight: bold;
}

.footer-container .logo-description {
  margin: 0;
  font-size: 12px;
}

.copyright {
  margin: 0;
}

.gallery-item-1 {
  grid-row: 1/3;
}

.gallery-item-2 {
  grid-row: 1/4;
}

.gallery-item-3 {
  grid-row: 1/6;
}

.gallery-item-4 {
  grid-row: 3/7;
}

.gallery-item-5 {
  grid-row: 4/6;
}

.gallery-item-6 {
  grid-row: 6/9;
}

.gallery-item-7 {
  grid-row: 6/8;
}

.gallery-item-8 {
  grid-row: 7/10;
}

.gallery-item-9 {
  grid-row: 9/13;
}

.gallery-item-10 {
  grid-column: 1/2;
  grid-row: 10/12;
}

.gallery-item-11 {
  grid-row: 8/13;
}

@media (max-width: 1250px) {

  .sidebar {
    position: static;
  }

  .wrapper {
    grid-template-areas: "header header"
      "sidebar sidebar"
      "main main"
      "footer  footer";
  }
}

@media (max-width: 750px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(19, 80px);
  }

  .gallery-item-2 {
    grid-row: 3/6;
  }

  .gallery-item-3 {
    grid-column: 2/3;
  }

  .gallery-item-4 {
    grid-row: 6/10;
  }

  .gallery-item-5 {
    grid-column: 2/3;
    grid-row: 6/8;
  }

  .gallery-item-6 {
    grid-column: 2/3;
    grid-row: 8/11;
  }

  .gallery-item-7 {
    grid-row: 10/12;
  }

  .gallery-item-8 {
    grid-row: 12/15;
  }

  .gallery-item-9 {
    grid-column: 2/3;
    grid-row: 11/15;
  }

  .gallery-item-10 {
    grid-column: 2/3;
    grid-row: 15/17;
  }

  .gallery-item-11 {
    grid-column: 1/2;
    grid-row: 15/20;
  }
}

@media (max-width: 400px) {
  .gallery {
    display: block;
  }
}